@colors: {

    maingreen: #49726C;
  
    mainyellow: #E2D092;

    lightgreen: #ACC196;

    darkgreen:#153045;
  
    lightgrey: #f6f6f6;

    darkgrey: #505050;

    black: #00000;

    white: #ffffff;
  
}

each(@colors, {

    .bgc-@{key} {

        background: @value;

    }

    .c-@{key} {

        color: @value;

    }

});
